on: [push, pull_request]

name: Run unit tests

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Ubuntu Latest GCC", 
            os: ubuntu-latest
          }
        - {
            name: "Ubuntu Latest GCC, coverage enabled", 
            os: ubuntu-latest,
            cov: true
          }
        - {
            name: "macOS Latest Clang", 
            os: macos-latest
          }

    steps:
    - uses: actions/checkout@v1

    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Configure the build
      if: ${{ ! matrix.config.cov }}
      run: cmake -S . -B build

    - name: Configure the build with coverage
      if: ${{ matrix.config.cov }}
      run: cmake -S . -B build -DCODE_COVERAGE=ON

    - name: Run the build
      run: cmake --build build

    - name: Run the tests
      run: |
        cd build
        ctest

    - name: Generate code coverage
      if: ${{ matrix.config.cov == true }}
      run: |
        cd build/tests/CMakeFiles/
        find -type f -name "*.gcno" -execdir gcov -abcfu {} +

    - name: Upload to Codecov
      if: ${{ matrix.config.cov == true }}
      uses: codecov/codecov-action@v1
      with:
        directory: build/tests/CMakeFiles/
